.journal-btn {
  padding-right: rem(14);
  padding-left: rem(14);
  background: $blue-whale;
  color: #fff;
  font-size: em(14);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.1428571428571428;
  text-transform: uppercase;

  &:hover {
    background: lighten($blue-whale, 10%);
    color: #fff;
    animation-name: rubberBand;
  }
}
