.agenda-calendar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 100vw;
  padding: 0;
  border-bottom-left-radius: rem(12);
  border-bottom-right-radius: rem(12);
  list-style: none;
  overflow: hidden;
  z-index: 2;

  @include mq(sm) {
    margin: 0;
    border-bottom-left-radius: rem(20);
    border-bottom-right-radius: rem(20);
  }

  &__day {
    display: flex;
    flex: 1 0 14.285714285714286%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 14.285714285714286%;
    height: 14.285714285714286vw;
    max-height: rem(135);
    padding: 0;
    background: #fff;

    @include mq(sm) {
      justify-content: flex-start;
      padding: rem(15) rem(8) rem(2);
    }

    &:nth-child(even) {
      background: #f6f5f4;
    }

    &:nth-child(14n+1),
    &:nth-child(14n+3),
    &:nth-child(14n+5),
    &:nth-child(14n+7) {
      background: #f1efee;
    }
  }

  &__time {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    color: $blue-whale;
    font-family: $font-opensans;
    font-size: em(15);
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1;

    @include mq(sm) {
      align-self: flex-end;
      font-size: em(20);
    }

    .is--expanded & {
      z-index: 3;

      &:before {
        display: block;
        position: absolute;
        top: 100%;
        left: calc(50% - 6px);
        width: 12px ;
        height: 12px;
        margin-top: rem(6);
        transform: rotate(45deg);
        background: #fff;
        box-shadow: 0 -3px 4px rgba(0, 0, 0, .25);
        content: "";
        clip-path: polygon(100% 0, 0 0, 0 100%);
      }

    }

    .agenda-calendar__day:not(.is--today):hover & {
      background: #d9d9d9;
    }

    .is--today & {
      background: $blue-whale;
      color: #fff;
    }

    .is--faded & {
      opacity: .25;
    }
  }

  &__expand {
    display: block;
    color: $bondi-blue;
    font-size: em(10);
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.6;
    text-align: right;
  }
}
