.agenda-slider {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  padding: rem(10) rem(20);
  background: $blue-whale;
  color: #fff;
  z-index: 2;

  @include mq(md) { padding: rem(20); }

  &__label {
    display: block;
    flex: 0 1 rem(140);
    font-family: $font-opensans;
    font-size: em(15);
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @include mq(sm) {
      flex-basis: rem(200);
      font-size: em(20);
    }

    @include mq(md) {
      flex-basis: rem(340);
      font-size: em(26);
    }

    @include mq(lg) {
      font-size: em(33);
    }
  }

  &__btn {
    @include appearance(none);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    color: inherit;

    svg {
      width: rem(8);

      @include mq(md) {
        width: rem(16);
      }
    }
  }
}
