.agenda-top {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: rem(12);
  border-top-left-radius: rem(12);
  border-top-right-radius: rem(12);
  background: $atoll-2;
  z-index: 2;

  @include mq(md) {
    padding: rem(18) rem(40) rem(12);
    border-top-left-radius: rem(20);
    border-top-right-radius: rem(20);
  }

  &__btn {
    @include appearance(none);
    padding: rem(5) rem(32);
    border: 0;
    border-radius: rem(5);
    background: #fdba13;
    color: #042838;
    font-family: $font-amatic;
    font-size: em(26);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    animation-duration: 1s;
    animation-fill-mode: both;

    &:hover {
      color:  #042838;
      text-decoration: none;
      animation-name: rubberBand;
    }

    &:before {
      position: relative;
      top: -2px;
      content: "+ ";
    }
  }
}
