.cp-credits {
  background: #fff;
  margin-bottom: rem(-300);

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: bottom;
    max-width: rem(1026);
    margin: 0 auto;
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    max-width: 50%;
    padding-top: rem(12);
    padding-bottom: rem(12);

    @include mq(sm) {
      flex-basis: auto;
      padding-top: rem(24);
      padding-bottom: rem(24);
    }
  }

  &__figure {
    display: block;
    // height: 40px;
    margin: 0;
    padding: 0 1.5rem;

    @include mq(sm) {
      padding: 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  svg {
    height: 100%;
    width: auto;
    max-width: rem(150);
    fill: currentColor;
  }
}

