
@import '../home/clouds';
@import '../home/bg';
@import '../home/slider';
@import '../home/challenge';
@import '../home/buttons';
@import '../home/footer';

.cp-home {
  min-height: 1px;
  position: relative;
  flex: 1 1 100%;
  display: flex;
  overflow: hidden;

  &__master {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: rem(80);
    padding-bottom: rem(48);

    @include mq(sm) {
      padding-top: rem(90);
      padding-bottom: rem(90);
    }
  }

  &__challenges {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

