// Amatic SC

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/amatic/amaticsc-bold-webfont.woff2') format('woff2'),
         url('../fonts/amatic/amaticsc-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/amatic/amaticsc-regular-webfont.woff2') format('woff2'),
         url('../fonts/amatic/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Paper

@font-face {
    font-family: 'Paper';
    src: url('../fonts/paper/paper-webfont.woff2') format('woff2'),
         url('../fonts/paper/paper-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Uni Sans

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni-sans/uni-sans.heavy-caps-webfont.woff2') format('woff2'),
         url('../fonts/uni-sans/uni-sans.heavy-caps-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni-sans/uni-sans.heavy-italic-caps-webfont.woff2') format('woff2'),
         url('../fonts/uni-sans/uni-sans.heavy-italic-caps-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni-sans/uni-sans.thin-caps-webfont.woff2') format('woff2'),
         url('../fonts/uni-sans/uni-sans.thin-caps-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/uni-sans/uni-sans.thin-italic-caps-webfont.woff2') format('woff2'),
         url('../fonts/uni-sans/uni-sans.thin-italic-caps-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

// Open Sans

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
