// Font Families

$font-amatic: 'Amatic SC', sans-serif;
$font-paper: 'Paper', sans-serif;
$font-unisans: 'Uni Sans', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

// Colors

$blue-whale: #042838;
$prussian-blue: #003d57;
$keppel: #3aacae;
$amaranth: #ee3b6d;
$sushi: #70b637;
$siren: #7b0046;
$ecstasy: #f47518;
$lochinvar: #339698;
$geyser: #cbdfe1;
$aqua-haze: #dcebed;
$polar: #f3fbfc;
$lemon-chiffon: #ffffc9;
$tall-poppy: #be2626;
$mexican-red: #a92222;
$lightning-yellow: #fdba13;
$goldenrod: #fdd061;
$manhattan: #f4c6a4;
$sandy-brown: #f4a66d;

$vivid-violet: #823093;
$bondi-blue: #00aab6;
$matisse: #1d73b1;
$eminence: #662d91;
$burnt-sienna: #f26c4f;
$denim: #195ece;
$sunflower: #e4bb26;
$mantis: #78ca6f;
$tory-blue: #154eab;
$chelsea-cucumber: #74a848;
$scorpion: #595959;
$green-kelp: #2c3b24;
$red-violet: #cc1f71;
$purple-heart: #951ddc;
$dark-purple-heart: #7e18bb;
$turbo: #ffee04;
$jungle-green: #2fa97f;
$heliotrope: #a75ef8;
$jazzberry-jam: #a71359;

$cerulean: #01bef0;
$atoll: #0e5485;
$atoll-2: #0a6171;
$fun-blue: #14649d;
$honey-flower: #641974;
$seance: #702280;
$sweet-corn: #fbe897;
$parsley: #1b4d15;
$crete: #57862f;
$tulip-tree: #eaac41;
$pastel-green: #6fea8f;
$eucalyptus: #208b66;
$tom-thumb: #395d38;
$old-gold: #c9a038;
