.el-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: rem(242);
  padding: rem(8) rem(24);
  transition: background .5s;
  border: 0;
  border-radius: rem(5);
  background: none;
  color: inherit;
  font-size: em(15);
  line-height: 1.666667;
  cursor: pointer;
  animation-duration: 1s;
  animation-fill-mode: both;

  &--small {
    padding-right: rem(14);
    padding-left: rem(14);
    font-size: em(14);
    line-height: 1.1428571428571428;
  }


  &--large {
    min-width: rem(214);
    max-width: 100%;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--upper {
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--blue {
    background: $bondi-blue;
    color: #fff;

    &:hover {
      background: darken($bondi-blue, 5%);
      color: #fff;
      animation-name: rubberBand;
    }
  }

  &--red {
    background: $burnt-sienna;
    color: #fff;

    &:hover {
      background: darken($burnt-sienna, 5%);
      color: #fff;
      animation-name: shake;
    }
  }

  &--dark {
    background: $blue-whale;
    color: #fff;

    &:hover {
      background: lighten($blue-whale, 10%);
      color: #fff;
      animation-name: rubberBand;
    }
  }

  &--white {
    background: #fff;
    color: $blue-whale;

    &:hover {
      background: darken(#fff, 5%);
      color: $blue-whale;
      animation-name: shake;
    }
  }

  &--gold {
    background: $blue-whale;
    color: $lightning-yellow;

    &:hover {
      background: darken($blue-whale, 5%);
      color: $lightning-yellow;
      animation-name: rubberBand;
    }
  }

  &--green {
    background: $sushi;
    color: #fff;

    &:hover {
      background: darken($sushi, 5%);
      color: #fff;
      animation-name: rubberBand;
    }
  }

  &--facebook {
    background: #3967a8;
    color: #fff;

    &:hover {
      background: darken(#3967a8, 5%);
      color: #fff;
      animation-name: rubberBand;
    }
  }

  &--whatsapp {
    background: #55ba51;
    color: #fff;

    &:hover {
      background: darken(#55ba51, 5%);
      color: #fff;
      animation-name: rubberBand;
    }
  }

  &__icon {
    display: flex;
    flex: 1 0 rem(22);
    align-items: center;
    justify-content: center;
    min-width: 0;
    min-height: 0;

    &:first-child {
      margin-right: rem(10);
    }

    svg {
      flex-grow: 1;
      min-width: 0;
      min-height: 0;
    }
  }

  @at-root {
    a#{&} {
      &:hover {
        text-decoration: none;
      }
    }
  }

  @at-root {
    button#{&} {
      @include appearance(none);
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin: rem(24) rem(-5);

    .el-button {
      margin: rem(5);
    }
  }
}
